body.index{
    background-color: #f7c985;
    width: 800px;
    margin: 0 auto;
}

#index-header{
    margin-top: 0px;
}

#index-header,
#index-list-header{
    text-align: center;
    background-color: rgb(0, 102, 29);
    color: #F1C27B;
    font-weight: 600;
}

.main-header{
    text-align: center;
    background-color: #F1C27B;
    color: rgb(0, 102, 29);
    font-weight: 600;
    margin-top: 0px;    
}

.image{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 30%;    
}

.description-header,
.ingredients-header,
.steps-header{
    text-align: center;
    background-color: #F1C27B;
    color: rgb(0, 102, 29);
    font-weight: 450;    
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.description-para{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}

ul,
ol{
    font:20px "Arial",san-serif;
}

.return{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}